# Credenciais do Supabase
SUPABASE_URL=https://hkrzidfxmsqvhostcqkf.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhrcnppZGZ4bXNxdmhvc3RjcWtmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0NDQwODIsImV4cCI6MjA5NjAyMDA4Mn0.ktbQcuZfgMcnT_x9FcSU3Eopa-Z9rCGxzUkw9Psx0Fs
SUPABASE_SERVICE_ROLE_KEY=sua-service-role-key-secreta-para-seed
